<a href="https://colab.research.google.com/github/Jashwanth63/Deep-net/blob/master/Titanic_NN_Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
url = 'https://raw.githubusercontent.com/jasuams/datasets/master/titanic.csv'
df = pd.read_csv(url)

In [0]:
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [0]:
useful_data = df[['survived','pclass','sex','age','sibsp','parch','fare','class']]

In [0]:
useful_data.head()

   survived  pclass     sex   age  sibsp  parch     fare  class
0         0       3    male  22.0      1      0   7.2500  Third
1         1       1  female  38.0      1      0  71.2833  First
2         1       3  female  26.0      0      0   7.9250  Third
3         1       1  female  35.0      1      0  53.1000  First
4         0       3    male  35.0      0      0   8.0500  Third

In [0]:
sex = {'male':2,'female':1}
clas = {'First':1,'Second':2,'Third':3}
useful_data.sex = [sex[item] for item in useful_data.sex]

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [0]:
useful_data.columns = ['survived','pclass','sex','age','sibsp','parch','fare','Type']
useful_data.Type = [clas[item] for item in useful_data.Type]

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [0]:
#useful_data.Type = [clas[item] for item in useful_data.Type]
useful_data = useful_data.dropna(axis = 0)
data_to_process = useful_data
data_to_process = data_to_process.values
data_to_process = data_to_process.astype('float32')
print(data_to_process.shape)

(714, 8)

In [0]:
X = data_to_process[: ,1:]
Y = data_to_process[: ,0]
#print(Y)

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from sklearn.model_selection import train_test_split

In [0]:
x_train, x_test, y_train, y_test = train_test_split(X,Y)

In [0]:
print("X _train: {}".format(x_train.shape))
print("Y_train: {}".format(y_train.shape))

print("X _test: {}".format(x_test.shape))
print("Y_test: {}".format(y_test.shape))

X _train: (535, 7)
Y_train: (535,)
X _test: (179, 7)
Y_test: (179,)

In [0]:
model = Sequential()

#model.add(Activation('softmax'))
model.add(Dropout(0.25))

model.add(Dense(1026, input_shape =(7, )))
model.add(Activation('hard_sigmoid'))

#model.add(Dense(512, activation = 'hard_sigmoid'))
#model.add(Dropout(0.30))

model.add(Dense(1))
model.add(Activation('hard_sigmoid'))
model.add(Dropout(0.5))

In [0]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
model.fit(x_train, y_train, validation_data = (x_test,y_test), epochs=100, verbose=1 )

Train on 535 samples, validate on 179 samples
Epoch 1/100
535/535 [==============================] - 0s 756us/step - loss: 4.4609 - acc: 0.5009 - val_loss: 0.6555 - val_acc: 0.6145
Epoch 2/100
535/535 [==============================] - 0s 184us/step - loss: 3.6728 - acc: 0.5439 - val_loss: 0.8595 - val_acc: 0.6145
Epoch 3/100
535/535 [==============================] - 0s 164us/step - loss: 3.5548 - acc: 0.5944 - val_loss: 0.6593 - val_acc: 0.6145
Epoch 4/100
535/535 [==============================] - 0s 172us/step - loss: 3.5206 - acc: 0.6093 - val_loss: 0.7229 - val_acc: 0.6145
Epoch 5/100
535/535 [==============================] - 0s 174us/step - loss: 3.1711 - acc: 0.6187 - val_loss: 0.6734 - val_acc: 0.6145
Epoch 6/100
535/535 [==============================] - 0s 183us/step - loss: 3.8412 - acc: 0.6075 - val_loss: 0.7025 - val_acc: 0.6145
Epoch 7/100
535/535 [==============================] - 0s 192us/step - loss: 3.4795 - acc: 0.6318 - val_loss: 0.6712 - val_acc: 0.6145
Epoch 8/100
535/535 [==============================] - 0s 166us/step - loss: 3.7254 - acc: 0.6243 - val_loss: 0.7128 - val_acc: 0.6145
Epoch 9/100
535/535 [==============================] - 0s 186us/step - loss: 3.5998 - acc: 0.6131 - val_loss: 0.6859 - val_acc: 0.6145
Epoch 10/100
535/535 [==============================] - 0s 220us/step - loss: 3.5129 - acc: 0.6224 - val_loss: 0.6788 - val_acc: 0.6145
Epoch 11/100
535/535 [==============================] - 0s 188us/step - loss: 3.7334 - acc: 0.6299 - val_loss: 0.6936 - val_acc: 0.6145
Epoch 12/100
535/535 [==============================] - 0s 199us/step - loss: 3.5427 - acc: 0.6131 - val_loss: 0.6310 - val_acc: 0.6201
Epoch 13/100
535/535 [==============================] - 0s 180us/step - loss: 4.1320 - acc: 0.6019 - val_loss: 0.7515 - val_acc: 0.6145
Epoch 14/100
535/535 [==============================] - 0s 165us/step - loss: 3.4897 - acc: 0.6187 - val_loss: 0.6934 - val_acc: 0.6145
Epoch 15/100
535/535 [==============================] - 0s 175us/step - loss: 3.4299 - acc: 0.6411 - val_loss: 0.6820 - val_acc: 0.6145
Epoch 16/100
535/535 [==============================] - 0s 179us/step - loss: 3.6940 - acc: 0.6187 - val_loss: 0.6535 - val_acc: 0.6145
Epoch 17/100
535/535 [==============================] - 0s 173us/step - loss: 3.4401 - acc: 0.6056 - val_loss: 0.6771 - val_acc: 0.6145
Epoch 18/100
535/535 [==============================] - 0s 175us/step - loss: 3.8144 - acc: 0.6019 - val_loss: 0.8273 - val_acc: 0.6145
Epoch 19/100
535/535 [==============================] - 0s 170us/step - loss: 3.5659 - acc: 0.5682 - val_loss: 0.7794 - val_acc: 0.6145
Epoch 20/100
535/535 [==============================] - 0s 183us/step - loss: 3.7955 - acc: 0.6056 - val_loss: 0.6374 - val_acc: 0.6145
Epoch 21/100
535/535 [==============================] - 0s 199us/step - loss: 3.8787 - acc: 0.6075 - val_loss: 0.6719 - val_acc: 0.6145
Epoch 22/100
535/535 [==============================] - 0s 204us/step - loss: 4.1635 - acc: 0.6093 - val_loss: 0.8478 - val_acc: 0.6145
Epoch 23/100
535/535 [==============================] - 0s 193us/step - loss: 3.7377 - acc: 0.6206 - val_loss: 0.6830 - val_acc: 0.6145
Epoch 24/100
535/535 [==============================] - 0s 203us/step - loss: 3.4376 - acc: 0.6187 - val_loss: 0.6437 - val_acc: 0.6145
Epoch 25/100
535/535 [==============================] - 0s 191us/step - loss: 4.0865 - acc: 0.6056 - val_loss: 0.6640 - val_acc: 0.6145
Epoch 26/100
535/535 [==============================] - 0s 223us/step - loss: 3.4566 - acc: 0.6393 - val_loss: 0.6969 - val_acc: 0.6145
Epoch 27/100
535/535 [==============================] - 0s 201us/step - loss: 3.9350 - acc: 0.6206 - val_loss: 0.6672 - val_acc: 0.6145
Epoch 28/100
535/535 [==============================] - 0s 170us/step - loss: 3.7896 - acc: 0.6336 - val_loss: 0.8025 - val_acc: 0.6145
Epoch 29/100
535/535 [==============================] - 0s 175us/step - loss: 2.9769 - acc: 0.6598 - val_loss: 0.6107 - val_acc: 0.6145
Epoch 30/100
535/535 [==============================] - 0s 179us/step - loss: 3.5190 - acc: 0.6318 - val_loss: 0.6904 - val_acc: 0.6145
Epoch 31/100
535/535 [==============================] - 0s 174us/step - loss: 3.5973 - acc: 0.6393 - val_loss: 0.7211 - val_acc: 0.6145
Epoch 32/100
535/535 [==============================] - 0s 198us/step - loss: 3.5263 - acc: 0.6318 - val_loss: 0.6612 - val_acc: 0.6145
Epoch 33/100
535/535 [==============================] - 0s 177us/step - loss: 3.7095 - acc: 0.6355 - val_loss: 0.6626 - val_acc: 0.6145
Epoch 34/100
535/535 [==============================] - 0s 172us/step - loss: 3.9047 - acc: 0.6318 - val_loss: 0.6488 - val_acc: 0.6145
Epoch 35/100
535/535 [==============================] - 0s 172us/step - loss: 3.7460 - acc: 0.6393 - val_loss: 0.6763 - val_acc: 0.6145
Epoch 36/100
535/535 [==============================] - 0s 173us/step - loss: 3.5880 - acc: 0.6318 - val_loss: 0.6524 - val_acc: 0.6145
Epoch 37/100
535/535 [==============================] - 0s 193us/step - loss: 3.5030 - acc: 0.6318 - val_loss: 0.6353 - val_acc: 0.6145
Epoch 38/100
535/535 [==============================] - 0s 212us/step - loss: 3.4786 - acc: 0.6318 - val_loss: 0.6786 - val_acc: 0.6145
Epoch 39/100
535/535 [==============================] - 0s 171us/step - loss: 3.8167 - acc: 0.6131 - val_loss: 0.6710 - val_acc: 0.6145
Epoch 40/100
535/535 [==============================] - 0s 161us/step - loss: 3.5638 - acc: 0.6112 - val_loss: 0.6599 - val_acc: 0.6145
Epoch 41/100
535/535 [==============================] - 0s 184us/step - loss: 3.4252 - acc: 0.6280 - val_loss: 0.6381 - val_acc: 0.6145
Epoch 42/100
535/535 [==============================] - 0s 201us/step - loss: 3.6077 - acc: 0.6280 - val_loss: 0.7422 - val_acc: 0.6145
Epoch 43/100
535/535 [==============================] - 0s 174us/step - loss: 3.7793 - acc: 0.6000 - val_loss: 0.7272 - val_acc: 0.6145
Epoch 44/100
535/535 [==============================] - 0s 162us/step - loss: 3.6124 - acc: 0.6336 - val_loss: 0.6233 - val_acc: 0.6257
Epoch 45/100
535/535 [==============================] - 0s 163us/step - loss: 3.5526 - acc: 0.6393 - val_loss: 0.6380 - val_acc: 0.6145
Epoch 46/100
535/535 [==============================] - 0s 180us/step - loss: 3.7861 - acc: 0.5981 - val_loss: 0.6722 - val_acc: 0.6145
Epoch 47/100
535/535 [==============================] - 0s 175us/step - loss: 3.6110 - acc: 0.6336 - val_loss: 0.7106 - val_acc: 0.6145
Epoch 48/100
535/535 [==============================] - 0s 183us/step - loss: 3.7672 - acc: 0.6430 - val_loss: 0.6480 - val_acc: 0.6145
Epoch 49/100
535/535 [==============================] - 0s 173us/step - loss: 3.5116 - acc: 0.6355 - val_loss: 0.6998 - val_acc: 0.6145
Epoch 50/100
535/535 [==============================] - 0s 169us/step - loss: 3.6469 - acc: 0.6037 - val_loss: 0.7019 - val_acc: 0.6145
Epoch 51/100
535/535 [==============================] - 0s 184us/step - loss: 3.4356 - acc: 0.6467 - val_loss: 0.6933 - val_acc: 0.6145
Epoch 52/100
535/535 [==============================] - 0s 191us/step - loss: 3.6611 - acc: 0.6000 - val_loss: 0.6901 - val_acc: 0.6145
Epoch 53/100
535/535 [==============================] - 0s 190us/step - loss: 3.7738 - acc: 0.6019 - val_loss: 0.6522 - val_acc: 0.6872
Epoch 54/100
535/535 [==============================] - 0s 163us/step - loss: 4.9096 - acc: 0.5664 - val_loss: 1.5163 - val_acc: 0.6313
Epoch 55/100
535/535 [==============================] - 0s 167us/step - loss: 4.5108 - acc: 0.6037 - val_loss: 0.8760 - val_acc: 0.6201
Epoch 56/100
535/535 [==============================] - 0s 164us/step - loss: 3.6550 - acc: 0.6318 - val_loss: 0.6837 - val_acc: 0.6145
Epoch 57/100
535/535 [==============================] - 0s 191us/step - loss: 3.3261 - acc: 0.6168 - val_loss: 0.6697 - val_acc: 0.6145
Epoch 58/100
535/535 [==============================] - 0s 173us/step - loss: 3.4234 - acc: 0.6561 - val_loss: 0.6569 - val_acc: 0.6145
Epoch 59/100
535/535 [==============================] - 0s 179us/step - loss: 3.4056 - acc: 0.6374 - val_loss: 0.7210 - val_acc: 0.6145
Epoch 60/100
535/535 [==============================] - 0s 184us/step - loss: 3.4202 - acc: 0.6262 - val_loss: 0.6374 - val_acc: 0.6201
Epoch 61/100
535/535 [==============================] - 0s 184us/step - loss: 3.4711 - acc: 0.6430 - val_loss: 0.6266 - val_acc: 0.6201
Epoch 62/100
535/535 [==============================] - 0s 184us/step - loss: 3.7946 - acc: 0.6374 - val_loss: 0.7097 - val_acc: 0.6145
Epoch 63/100
535/535 [==============================] - 0s 213us/step - loss: 3.8352 - acc: 0.6262 - val_loss: 0.6892 - val_acc: 0.6145
Epoch 64/100
535/535 [==============================] - 0s 166us/step - loss: 3.5130 - acc: 0.6224 - val_loss: 0.6496 - val_acc: 0.6145
Epoch 65/100
535/535 [==============================] - 0s 206us/step - loss: 3.5249 - acc: 0.6206 - val_loss: 0.6183 - val_acc: 0.6145
Epoch 66/100
535/535 [==============================] - 0s 184us/step - loss: 3.8694 - acc: 0.6187 - val_loss: 0.6525 - val_acc: 0.6145
Epoch 67/100
535/535 [==============================] - 0s 183us/step - loss: 3.3572 - acc: 0.6542 - val_loss: 0.7364 - val_acc: 0.6145
Epoch 68/100
535/535 [==============================] - 0s 180us/step - loss: 3.8889 - acc: 0.6131 - val_loss: 0.6352 - val_acc: 0.6145
Epoch 69/100
535/535 [==============================] - 0s 204us/step - loss: 3.6910 - acc: 0.6262 - val_loss: 0.6092 - val_acc: 0.6089
Epoch 70/100
535/535 [==============================] - 0s 168us/step - loss: 3.8039 - acc: 0.6037 - val_loss: 0.6809 - val_acc: 0.6145
Epoch 71/100
535/535 [==============================] - 0s 174us/step - loss: 3.5134 - acc: 0.6299 - val_loss: 0.6526 - val_acc: 0.6145
Epoch 72/100
535/535 [==============================] - 0s 179us/step - loss: 3.9339 - acc: 0.6355 - val_loss: 0.7383 - val_acc: 0.6145
Epoch 73/100
535/535 [==============================] - 0s 175us/step - loss: 3.9639 - acc: 0.6187 - val_loss: 0.7059 - val_acc: 0.6145
Epoch 74/100
535/535 [==============================] - 0s 195us/step - loss: 3.6506 - acc: 0.6299 - val_loss: 0.6505 - val_acc: 0.6145
Epoch 75/100
535/535 [==============================] - 0s 165us/step - loss: 3.2090 - acc: 0.6542 - val_loss: 0.6674 - val_acc: 0.6145
Epoch 76/100
535/535 [==============================] - 0s 178us/step - loss: 3.8229 - acc: 0.6224 - val_loss: 0.6582 - val_acc: 0.6145
Epoch 77/100
535/535 [==============================] - 0s 189us/step - loss: 3.7551 - acc: 0.6318 - val_loss: 0.7040 - val_acc: 0.6145
Epoch 78/100
535/535 [==============================] - 0s 186us/step - loss: 3.9568 - acc: 0.6280 - val_loss: 0.6645 - val_acc: 0.6145
Epoch 79/100
535/535 [==============================] - 0s 182us/step - loss: 3.7881 - acc: 0.6280 - val_loss: 0.6690 - val_acc: 0.6145
Epoch 80/100
535/535 [==============================] - 0s 192us/step - loss: 3.9238 - acc: 0.6318 - val_loss: 0.6009 - val_acc: 0.6313
Epoch 81/100
535/535 [==============================] - 0s 174us/step - loss: 3.7767 - acc: 0.6056 - val_loss: 0.6793 - val_acc: 0.6145
Epoch 82/100
535/535 [==============================] - 0s 166us/step - loss: 3.1910 - acc: 0.6318 - val_loss: 0.6433 - val_acc: 0.6145
Epoch 83/100
535/535 [==============================] - 0s 175us/step - loss: 3.6380 - acc: 0.6224 - val_loss: 0.6725 - val_acc: 0.6145
Epoch 84/100
535/535 [==============================] - 0s 213us/step - loss: 3.6899 - acc: 0.6112 - val_loss: 0.7095 - val_acc: 0.6145
Epoch 85/100
535/535 [==============================] - 0s 186us/step - loss: 3.8384 - acc: 0.6262 - val_loss: 0.6035 - val_acc: 0.6313
Epoch 86/100
535/535 [==============================] - 0s 177us/step - loss: 3.7666 - acc: 0.6224 - val_loss: 0.6513 - val_acc: 0.6145
Epoch 87/100
535/535 [==============================] - 0s 183us/step - loss: 3.4312 - acc: 0.6243 - val_loss: 0.6723 - val_acc: 0.6145
Epoch 88/100
535/535 [==============================] - 0s 172us/step - loss: 3.4521 - acc: 0.6561 - val_loss: 0.6715 - val_acc: 0.6145
Epoch 89/100
535/535 [==============================] - 0s 184us/step - loss: 3.4174 - acc: 0.6486 - val_loss: 0.6548 - val_acc: 0.6313
Epoch 90/100
535/535 [==============================] - 0s 189us/step - loss: 3.3133 - acc: 0.6056 - val_loss: 0.6994 - val_acc: 0.6145
Epoch 91/100
535/535 [==============================] - 0s 172us/step - loss: 3.5915 - acc: 0.6318 - val_loss: 0.6504 - val_acc: 0.6145
Epoch 92/100
535/535 [==============================] - 0s 163us/step - loss: 3.3738 - acc: 0.6729 - val_loss: 0.6332 - val_acc: 0.6145
Epoch 93/100
535/535 [==============================] - 0s 174us/step - loss: 3.8658 - acc: 0.6280 - val_loss: 0.6085 - val_acc: 0.6257
Epoch 94/100
535/535 [==============================] - 0s 191us/step - loss: 5.8083 - acc: 0.6056 - val_loss: 6.1486 - val_acc: 0.6145
Epoch 95/100
535/535 [==============================] - 0s 191us/step - loss: 6.3145 - acc: 0.5850 - val_loss: 6.2131 - val_acc: 0.6145
Epoch 96/100
535/535 [==============================] - 0s 187us/step - loss: 6.4704 - acc: 0.5570 - val_loss: 4.7340 - val_acc: 0.3575
Epoch 97/100
535/535 [==============================] - 0s 186us/step - loss: 7.7365 - acc: 0.3925 - val_loss: 8.6747 - val_acc: 0.4022
Epoch 98/100
535/535 [==============================] - 0s 165us/step - loss: 7.2049 - acc: 0.3907 - val_loss: 6.4935 - val_acc: 0.3575
Epoch 99/100
535/535 [==============================] - 0s 203us/step - loss: 7.8950 - acc: 0.4224 - val_loss: 5.7106 - val_acc: 0.4022
Epoch 100/100
535/535 [==============================] - 0s 174us/step - loss: 7.4321 - acc: 0.4505 - val_loss: 5.1770 - val_acc: 0.5307